@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?5vz864');
  src:  url('./fonts/icomoon.eot?5vz864#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?5vz864') format('truetype'),
    url('./fonts/icomoon.woff?5vz864') format('woff'),
    url('./fonts/icomoon.svg?5vz864#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-IE:before {
  content: "\e929";
}
.icon-sphere:before {
  content: "\e92a";
}
.icon-opera:before {
  content: "\e907";
}
.icon-browser:before {
  content: "\e907";
}
.icon-internet:before {
  content: "\e907";
}
.icon-brand:before {
  content: "\e907";
}
.icon-firefox:before {
  content: "\e908";
}
.icon-browser1:before {
  content: "\e908";
}
.icon-internet1:before {
  content: "\e908";
}
.icon-brand1:before {
  content: "\e908";
}
.icon-safari:before {
  content: "\e909";
}
.icon-browser2:before {
  content: "\e909";
}
.icon-internet2:before {
  content: "\e909";
}
.icon-brand2:before {
  content: "\e909";
}
.icon-chrome:before {
  content: "\e928";
}
.icon-browser3:before {
  content: "\e928";
}
.icon-internet3:before {
  content: "\e928";
}
.icon-brand3:before {
  content: "\e928";
}
.icon-arrow_upward:before {
  content: "\e906";
}
.icon-clear:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e904";
}
.icon-transit_enterexit:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-arrow-right-arrow-left .path1:before {
  content: "\e9fc";
  color: rgb(0, 0, 0);
}
.icon-arrow-right-arrow-left .path2:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-arrow-rotate-left .path1:before {
  content: "\ea08";
  color: rgb(0, 0, 0);
}
.icon-arrow-rotate-left .path2:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-arrow-up-right-from-square .path1:before {
  content: "\ea2e";
  color: rgb(0, 0, 0);
}
.icon-arrow-up-right-from-square .path2:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-brake-warning .path1:before {
  content: "\ebc0";
  color: rgb(0, 0, 0);
}
.icon-brake-warning .path2:before {
  content: "\ebc1";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-calendar-day .path1:before {
  content: "\ec15";
  color: rgb(0, 0, 0);
}
.icon-calendar-day .path2:before {
  content: "\ec16";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-calendar-days .path1:before {
  content: "\ec17";
  color: rgb(0, 0, 0);
}
.icon-calendar-days .path2:before {
  content: "\ec18";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-calendar .path1:before {
  content: "\ec2f";
  color: rgb(0, 0, 0);
}
.icon-calendar .path2:before {
  content: "\ec30";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-check:before {
  content: "\ece0";
}
.icon-circle-dollar-to-slot .path1:before {
  content: "\ed65";
  color: rgb(0, 0, 0);
}
.icon-circle-dollar-to-slot .path2:before {
  content: "\ed66";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-circle-dollar .path1:before {
  content: "\ed67";
  color: rgb(0, 0, 0);
}
.icon-circle-dollar .path2:before {
  content: "\ed68";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-circle-exclamation .path1:before {
  content: "\ed7b";
  color: rgb(0, 0, 0);
}
.icon-circle-exclamation .path2:before {
  content: "\ed7c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-circle-info .path1:before {
  content: "\e94c";
  color: rgb(0, 0, 0);
}
.icon-circle-info .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-cloud-arrow-down .path1:before {
  content: "\ee16";
  color: rgb(0, 0, 0);
}
.icon-cloud-arrow-down .path2:before {
  content: "\ee17";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-cloud-word .path1:before {
  content: "\e94e";
  color: rgb(0, 0, 0);
}
.icon-cloud-word .path2:before {
  content: "\e94f";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-credit-card .path1:before {
  content: "\eee0";
  color: rgb(0, 0, 0);
}
.icon-credit-card .path2:before {
  content: "\eee1";
  margin-left: -1.125em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-door-closed .path1:before {
  content: "\ef73";
  color: rgb(0, 0, 0);
}
.icon-door-closed .path2:before {
  content: "\ef74";
  margin-left: -1.125em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-download .path1:before {
  content: "\e952";
  color: rgb(0, 0, 0);
}
.icon-download .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-euro-sign .path1:before {
  content: "\eff5";
  color: rgb(0, 0, 0);
}
.icon-euro-sign .path2:before {
  content: "\eff6";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-face-grin-hearts .path1:before {
  content: "\f01e";
  color: rgb(0, 0, 0);
}
.icon-face-grin-hearts .path2:before {
  content: "\f01f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-arrow-down .path1:before {
  content: "\f076";
  color: rgb(0, 0, 0);
}
.icon-file-arrow-down .path2:before {
  content: "\f077";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-arrow-up .path1:before {
  content: "\f078";
  color: rgb(0, 0, 0);
}
.icon-file-arrow-up .path2:before {
  content: "\f079";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-binary .path1:before {
  content: "\f07a";
  color: rgb(0, 0, 0);
}
.icon-file-binary .path2:before {
  content: "\f07b";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-chart-column .path1:before {
  content: "\e90a";
  color: rgb(0, 0, 0);
}
.icon-file-chart-column .path2:before {
  content: "\e90b";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-chart-pie .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.icon-file-chart-pie .path2:before {
  content: "\e90d";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-check .path1:before {
  content: "\f07e";
  color: rgb(0, 0, 0);
}
.icon-file-check .path2:before {
  content: "\f07f";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-code .path1:before {
  content: "\e90e";
  color: rgb(0, 0, 0);
}
.icon-file-code .path2:before {
  content: "\e90f";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-contract .path1:before {
  content: "\e910";
  color: rgb(0, 0, 0);
}
.icon-file-contract .path2:before {
  content: "\e911";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-csv .path1:before {
  content: "\e912";
  color: rgb(0, 0, 0);
}
.icon-file-csv .path2:before {
  content: "\e913";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-excel .path1:before {
  content: "\e914";
  color: rgb(0, 0, 0);
}
.icon-file-excel .path2:before {
  content: "\e915";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-exclamation .path1:before {
  content: "\f082";
  color: rgb(0, 0, 0);
}
.icon-file-exclamation .path2:before {
  content: "\f083";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-heart .path1:before {
  content: "\e916";
  color: rgb(0, 0, 0);
}
.icon-file-heart .path2:before {
  content: "\e917";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-image .path1:before {
  content: "\e918";
  color: rgb(0, 0, 0);
}
.icon-file-image .path2:before {
  content: "\e919";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-invoice-dollar .path1:before {
  content: "\e91a";
  color: rgb(0, 0, 0);
}
.icon-file-invoice-dollar .path2:before {
  content: "\e91b";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-invoice .path1:before {
  content: "\e91c";
  color: rgb(0, 0, 0);
}
.icon-file-invoice .path2:before {
  content: "\e91d";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-lines .path1:before {
  content: "\e91e";
  color: rgb(0, 0, 0);
}
.icon-file-lines .path2:before {
  content: "\e91f";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-magnifying-glass .path1:before {
  content: "\f088";
  color: rgb(0, 0, 0);
}
.icon-file-magnifying-glass .path2:before {
  content: "\f089";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-medical .path1:before {
  content: "\f08a";
  color: rgb(0, 0, 0);
}
.icon-file-medical .path2:before {
  content: "\f08b";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-minus .path1:before {
  content: "\f08c";
  color: rgb(0, 0, 0);
}
.icon-file-minus .path2:before {
  content: "\f08d";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-music .path1:before {
  content: "\e920";
  color: rgb(0, 0, 0);
}
.icon-file-music .path2:before {
  content: "\e921";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-pdf .path1:before {
  content: "\e922";
  color: rgb(0, 0, 0);
}
.icon-file-pdf .path2:before {
  content: "\e923";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-powerpoint .path1:before {
  content: "\e924";
  color: rgb(0, 0, 0);
}
.icon-file-powerpoint .path2:before {
  content: "\e925";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-prescription .path1:before {
  content: "\e926";
  color: rgb(0, 0, 0);
}
.icon-file-prescription .path2:before {
  content: "\e927";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-user .path1:before {
  content: "\e92c";
  color: rgb(0, 0, 0);
}
.icon-file-user .path2:before {
  content: "\e92d";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-video .path1:before {
  content: "\e92e";
  color: rgb(0, 0, 0);
}
.icon-file-video .path2:before {
  content: "\e92f";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-waveform .path1:before {
  content: "\e930";
  color: rgb(0, 0, 0);
}
.icon-file-waveform .path2:before {
  content: "\e931";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-word .path1:before {
  content: "\e932";
  color: rgb(0, 0, 0);
}
.icon-file-word .path2:before {
  content: "\e933";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-xmark .path1:before {
  content: "\f094";
  color: rgb(0, 0, 0);
}
.icon-file-xmark .path2:before {
  content: "\f095";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file-zipper .path1:before {
  content: "\e934";
  color: rgb(0, 0, 0);
}
.icon-file-zipper .path2:before {
  content: "\e935";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-file .path1:before {
  content: "\e936";
  color: rgb(0, 0, 0);
}
.icon-file .path2:before {
  content: "\e937";
  margin-left: -0.75em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-files .path1:before {
  content: "\e938";
  color: rgb(0, 0, 0);
}
.icon-files .path2:before {
  content: "\e939";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-blank:before {
  content: "\f0f3";
}
.icon-folder-bookmark .path1:before {
  content: "\f0f4";
  color: rgb(0, 0, 0);
}
.icon-folder-bookmark .path2:before {
  content: "\f0f5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-grid .path1:before {
  content: "\f0f8";
  color: rgb(0, 0, 0);
}
.icon-folder-grid .path2:before {
  content: "\f0f9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-heart .path1:before {
  content: "\f0fa";
  color: rgb(0, 0, 0);
}
.icon-folder-heart .path2:before {
  content: "\f0fb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-image .path1:before {
  content: "\f0fc";
  color: rgb(0, 0, 0);
}
.icon-folder-image .path2:before {
  content: "\f0fd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-minus .path1:before {
  content: "\f101";
  color: rgb(0, 0, 0);
}
.icon-folder-minus .path2:before {
  content: "\f102";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-music .path1:before {
  content: "\f103";
  color: rgb(0, 0, 0);
}
.icon-folder-music .path2:before {
  content: "\f104";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-folder-plus .path1:before {
  content: "\e960";
  color: rgb(0, 0, 0);
}
.icon-folder-plus .path2:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-gear .path1:before {
  content: "\f158";
  color: rgb(0, 0, 0);
}
.icon-gear .path2:before {
  content: "\f159";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-globe .path1:before {
  content: "\f17b";
  color: rgb(0, 0, 0);
}
.icon-globe .path2:before {
  content: "\f17c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-grid-2 .path1:before {
  content: "\f192";
  color: rgb(0, 0, 0);
}
.icon-grid-2 .path2:before {
  content: "\f193";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-link-horizontal .path1:before {
  content: "\e954";
  color: rgb(0, 0, 0);
}
.icon-link-horizontal .path2:before {
  content: "\e955";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-link-simple .path1:before {
  content: "\e956";
  color: rgb(0, 0, 0);
}
.icon-link-simple .path2:before {
  content: "\e957";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-list-tree .path1:before {
  content: "\f3ab";
  color: rgb(0, 0, 0);
}
.icon-list-tree .path2:before {
  content: "\f3ac";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-lock-keyhole .path1:before {
  content: "\f3d3";
  color: rgb(0, 0, 0);
}
.icon-lock-keyhole .path2:before {
  content: "\f3d4";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-magnifying-glass .path1:before {
  content: "\f3ee";
  color: rgb(0, 0, 0);
}
.icon-magnifying-glass .path2:before {
  content: "\f3ef";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-message-exclamation .path1:before {
  content: "\f442";
  color: rgb(0, 0, 0);
}
.icon-message-exclamation .path2:before {
  content: "\f443";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-money-check-dollar-pen .path1:before {
  content: "\f4ac";
  color: rgb(0, 0, 0);
}
.icon-money-check-dollar-pen .path2:before {
  content: "\f4ad";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-palette .path1:before {
  content: "\f544";
  color: rgb(0, 0, 0);
}
.icon-palette .path2:before {
  content: "\f545";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-pen-line .path1:before {
  content: "\e958";
  color: rgb(0, 0, 0);
}
.icon-pen-line .path2:before {
  content: "\e959";
  margin-left: -1.125em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-piggy-bank .path1:before {
  content: "\f610";
  color: rgb(0, 0, 0);
}
.icon-piggy-bank .path2:before {
  content: "\f611";
  margin-left: -1.125em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-server .path1:before {
  content: "\f75f";
  color: rgb(0, 0, 0);
}
.icon-server .path2:before {
  content: "\f760";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-shield-blank .path1:before {
  content: "\f772";
  color: rgb(0, 0, 0);
}
.icon-shield-blank .path2:before {
  content: "\f773";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-shield .path1:before {
  content: "\f786";
  color: rgb(0, 0, 0);
}
.icon-shield .path2:before {
  content: "\f787";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-square-dashed .path1:before {
  content: "\f877";
  color: rgb(0, 0, 0);
}
.icon-square-dashed .path2:before {
  content: "\f878";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-square-info .path1:before {
  content: "\f89a";
  color: rgb(0, 0, 0);
}
.icon-square-info .path2:before {
  content: "\f89b";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-ticket-simple .path1:before {
  content: "\f9e0";
  color: rgb(0, 0, 0);
}
.icon-ticket-simple .path2:before {
  content: "\f9e1";
  margin-left: -1.125em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-trash-can-xmark .path1:before {
  content: "\fa59";
  color: rgb(0, 0, 0);
}
.icon-trash-can-xmark .path2:before {
  content: "\fa5a";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-trash-can .path1:before {
  content: "\e95a";
  color: rgb(0, 0, 0);
}
.icon-trash-can .path2:before {
  content: "\e95b";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-tree-deciduous .path1:before {
  content: "\fa6f";
  color: rgb(0, 0, 0);
}
.icon-tree-deciduous .path2:before {
  content: "\fa70";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-triangle-exclamation .path1:before {
  content: "\fa7b";
  color: rgb(0, 0, 0);
}
.icon-triangle-exclamation .path2:before {
  content: "\fa7c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-user-group .path1:before {
  content: "\fb0a";
  color: rgb(0, 0, 0);
}
.icon-user-group .path2:before {
  content: "\fb0b";
  margin-left: -1.25em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-user .path1:before {
  content: "\fb40";
  color: rgb(0, 0, 0);
}
.icon-user .path2:before {
  content: "\fb41";
  margin-left: -0.875em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-window-flip .path1:before {
  content: "\fbef";
  color: rgb(0, 0, 0);
}
.icon-window-flip .path2:before {
  content: "\fbf0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
  opacity: 0.4;
}
.icon-window-minimize:before {
  content: "\fbf7";
}